@font-face {
	font-family: 'MADE Mirage';
	src: url(../../assets/fonts/MADEMirage-Thin.woff2) format('woff2'),
	url(../../assets/fonts/MADEMirage-Thin.woff) format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'MADE Mirage';
	src: url(../../assets/fonts/MADEMirage.woff2) format('woff2'),
	url(../../assets/fonts/MADEMirage.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'MADE Mirage';
	src: url(../../assets/fonts/MADEMirage-Medium.woff2) format('woff2'),
	url(../../assets/fonts/MADEMirage-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'MADE Mirage';
	src: url(../../assets/fonts/MADEMirage-Bold.woff2) format('woff2'),
	url(../../assets/fonts/MADEMirage-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'MADE Mirage';
	src: url(../../assets/fonts/MADEMirage-Black.woff2) format('woff2'),
	url(../../assets/fonts/MADEMirage-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}