h1 {
  text-transform: initial;
  font-family: 'MADE Mirage';
  font-weight: 400;
  color: #5d89e6;
}

h2 {
  font-family: 'MADE Mirage';
  text-transform: initial;
  font-weight: 500;
}

h5 {
  font-family: 'MADE Mirage';
  text-transform: initial;
  font-weight: 400;
}

h4 {
  font-family: 'MADE Mirage';
  text-transform: initial;
  font-weight: 400;
}

a {
  font-family: 'Mier B';
  text-transform: initial;
}

.action-button {
  text-transform: initial;
  font-family: 'Mier B';
}

h3 {
  text-transform: initial;
  font-family: 'MADE Mirage';
  font-weight: 400;
}

#mainNav.navbar-shrink {
  background-color: #F6F5F1;
}

#mainNav.fixedtop {
  background-color: #f6f5f1;
}

#mainNav {
  background-color: #f6f5f1;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
}

button:focus:not(:focus-visible) {
  outline: none;
}

#mainNav.navbar-shrink {
  padding-top: 5px;
  padding-bottom: 5px;
}

#mainNav .navbar-toggler {
  border: none;
  color: transparent;
}

#mainNav .nav-link.active {
  background-color: transparent;
  text-decoration: underline;
  text-underline-position: under;
}

#mainNav .nav-link:hover, .nav-link:focus {
  text-decoration: underline;
  text-underline-position: under;
}

:root {
  --bs-body-bg: black;
}

::selection {
  background-color: rgb(93,137,230,0.25);
}

.element.style:hover {
  background-color: rgba(93,137,230,0.25);
}

.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: #f6f5f1;
  border-color: #f9fafb;
}

.btn:hover {
  background-color: rgba(93,137,230,0.25);
}

header .btn:hover, .btn:focus {
  background-color: transparent;
  border: none;
  border-style: none;
}

a {
}

h4 a {
  font-family: 'MADE Mirage';
  color: #283143;
  text-decoration: initial;
}

h4 a:hover, a:focus {
  color: #5d89e6;
}

footer a {
  color: #283143;
  text-decoration: initial;
}

footer a:hover {
  color: #283143;
  text-decoration: underline;
  text-underline-position: under;
}

@keyframes bounce {
  transform: translateY(-20px);
}

.fa.fa-angle-down.animated {
  animation: 2s bounce infinite;
}

@keyframes bounce {
  40%, 43% {
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
  }
}

@keyframes bounce {
  40%, 43% {
    transform: translate3d(0,-3px,0);
  }
}

@keyframes bounce {
  70% {
    -webkit-transform: translate3d(0,-6px,0);
    transform: translate3d(0,-6px,0);
  }
}

.btn-circle {
  border-radius: 0;
}

p {
  letter-spacing: 2px;
}

p {
  letter-spacing: 0.2px;
}

section a {
  text-decoration: initial;
  color: #283143;
}

section a:hover {
  text-decoration: underline;
  text-underline-position: under;
  color: #283143;
}

.action-button:hover {
  text-decoration: initial;
}

section h1 a {
  font-family: 'MADE Mirage';
  color: #5d89e6;
}

section h1 a:hover {
  font-family: 'MADE Mirage';
  color: #5d89e6;
  font-style: italic;
  text-decoration: initial;
}

h1 {
}

#casestudy:hover {
  box-shadow: -12px 12px 24px 17px rgba(0, 0, 0, 0.04);
  transition: 0.3s ease-in-out;
}

@media (min-width: 320px) and (max-width: 480px).masthead {
  height: 200px;
  max-width: 100%;
  background-size: 400px;
}

.masthead {
  background: url("../../assets/img/Flourish/Flourish%20Thumbnail.png") center / cover no-repeat, #f6f5f1;
  background-attachment: fixed, scroll;
  height: 600px;
}

p {
  color: red;
}

#callout {
  font-weight: 600;
}

@media screen and (max-width: 479px).header.masthead {
  background-size: auto 70vh;
  background-position: 50% 10%;
}

