@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-Thin.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Thin.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Thin.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Thin.woff) format('woff'),
	url(../../assets/fonts/MierB-Thin.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-ThinItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-ThinItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-ThinItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-ThinItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-ThinItalic.ttf) format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-Light.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Light.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Light.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Light.woff) format('woff'),
	url(../../assets/fonts/MierB-Light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-LightItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-LightItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-LightItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-LightItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-LightItalic.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Regular.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Regular.woff) format('woff'),
	url(../../assets/fonts/MierB-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-Italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Italic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Italic.woff) format('woff'),
	url(../../assets/fonts/MierB-Italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-DemiBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-DemiBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-DemiBold.woff2) format('woff2'),
	url(../../assets/fonts/MierB-DemiBold.woff) format('woff'),
	url(../../assets/fonts/MierB-DemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-DemiBoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-DemiBoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-DemiBoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-DemiBoldItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-DemiBoldItalic.ttf) format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Bold.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Bold.woff) format('woff'),
	url(../../assets/fonts/MierB-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-BoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-BoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-BoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-BoldItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-BoldItalic.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-ExtraBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-ExtraBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-ExtraBold.woff2) format('woff2'),
	url(../../assets/fonts/MierB-ExtraBold.woff) format('woff'),
	url(../../assets/fonts/MierB-ExtraBold.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-ExtraBoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-ExtraBoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-ExtraBoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-ExtraBoldItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-ExtraBoldItalic.ttf) format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-Black.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Black.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Black.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Black.woff) format('woff'),
	url(../../assets/fonts/MierB-Black.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-Heavy.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Heavy.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-Heavy.woff2) format('woff2'),
	url(../../assets/fonts/MierB-Heavy.woff) format('woff'),
	url(../../assets/fonts/MierB-Heavy.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-HeavyItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-HeavyItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-HeavyItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-HeavyItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-HeavyItalic.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Mier B';
	src: url(../../assets/fonts/MierB-BlackItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-BlackItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/MierB-BlackItalic.woff2) format('woff2'),
	url(../../assets/fonts/MierB-BlackItalic.woff) format('woff'),
	url(../../assets/fonts/MierB-BlackItalic.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: auto;
}